/* ------------- GENERAL ------------- */ 

*{
    margin: 0px; 
    padding: 0px; 
}

body{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

h1{
    font-family: 'Crete Round', serif;
    font-size: 45px; 
    color: rgb(66, 61, 61);
}

h2{
    color: rgb(66, 61, 61);
    font-size: 55px;  
}

h4{
    font-size:24px; 
    color: rgb(66, 61, 61);
}

p{
    line-height: 20px; 
    color: rgb(124, 122, 122)
}

ul{
    list-style: none; 

}

.wrapper{
    width: 940px; 
    margin: 0px auto; 
    padding: 0 10px; 
}

.orange{
    color:rgb(252, 138, 45);
}

a{
    text-decoration: none; 
    color: rgb(66, 61, 61);
}


/* ------------- HEADER -------------- */ 

header{
    height: 120px;    
}

header h1 {
    float: left; 
    margin-top: 32px; 
}

header nav{
    float: right;
    margin-top: 50px;
}

header nav ul li{
    float: left;  
}

header nav ul li a{
    text-transform: uppercase;
    font-weight: bold; 
    margin-right: 20px; 
}

header nav ul li a:hover{
    color:rgb(252, 138, 45);
}

/* ------------- Main Img -------------- */ 

#main_img{
    height: 500px;
    background: url("../AgencyProject/img/main\ \(1\).jpg") center; 

}

#main_img h2{
    font-weight: normal; 
    text-transform: uppercase; 
    text-align: center; 
    padding-top: 150px; 
    padding-right: 0px; 
    padding-left:0px; 
    margin: 20px; 
}

#stronger{
    font-weight: bolder; 
}

.button1{
    width:120px; 
    height: 50px; 
    display: block; 
    background:rgb(252, 138, 45);
    color: white; 
    font-size: 20px; 
    margin: 0px auto; 
    line-height: 50px; 
    text-align: center; 
    border-radius: 3px; 
    opacity: 0.8;
}

.button1:hover{
    background: rgb(68, 141, 190);
}

/* ------------- Steps -------------- */ 

#steps ul{
    margin: 80px 0; 
}

#steps ul li{
    width: 300px; 
    float: left; 
    padding-top: 140px; 
    margin-right: 10px; 
    text-align:center; 
}

#steps h4{
    text-transform: uppercase; 
    margin-bottom: 20px; 
}

#steps p{
    margin-bottom: 20px; 
}

#step1{
    background: url(../AgencyProject/img/steps-icon-1.png) no-repeat top center;
}

#step2{
    background: url(../AgencyProject/img/steps-icon-2.png) no-repeat top center;
}

#step3{
    background: url(../AgencyProject/img/steps-icon-3.png) no-repeat top center;
}